<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoao.mall.model.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.xiaoao.mall.model.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="wallet_id" jdbcType="VARCHAR" property="walletId" />
    <result column="bank_card_id" jdbcType="VARCHAR" property="bankCardId" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, `password`, wallet_id, bank_card_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mall_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaoao.mall.model.pojo.User">
    insert into mall_user (user_id, user_name, `password`, 
      wallet_id, bank_card_id)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{walletId,jdbcType=VARCHAR}, #{bankCardId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoao.mall.model.pojo.User">
    insert into mall_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="walletId != null">
        wallet_id,
      </if>
      <if test="bankCardId != null">
        bank_card_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="walletId != null">
        #{walletId,jdbcType=VARCHAR},
      </if>
      <if test="bankCardId != null">
        #{bankCardId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoao.mall.model.pojo.User">
    update mall_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="walletId != null">
        wallet_id = #{walletId,jdbcType=VARCHAR},
      </if>
      <if test="bankCardId != null">
        bank_card_id = #{bankCardId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoao.mall.model.pojo.User">
    update mall_user
    set user_name = #{userName,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      wallet_id = #{walletId,jdbcType=VARCHAR},
      bank_card_id = #{bankCardId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>



  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from mall_user
    where user_name=#{userName,jdbcType=VARCHAR}
  </select>

  <select id="selectLogin" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from mall_user
    where user_name=#{userName,jdbcType=VARCHAR}
    and password=#{password};
  </select>



  <update id="insertBankId" parameterType="com.xiaoao.mall.model.pojo.User">
    update mall_user
    set bank_card_id = #{bankCardId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

</mapper>